body {
    font-family: 'Helvetica';
    overflow: hidden;
    font-size: 2vw;
}

/* Countdown timer transition */

#countdown {
    opacity: 0;
    transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -webkit-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
}

.timer {
    margin: auto;
    padding-top: 7.5vh;
}

.timer td {
    padding: 0.8vw 3.5vw 0.8vw 3.5vw;
    font-family: 'DS-Digital', monospace;
    text-align: center;
}

.timer-val {
    font-size: 10vw;
}

.timer-disp {
    font-size: 2.5vw;
}

#short {
    padding-top: 10vh;
    padding-left: 15vw;
    padding-right: 15vw;
    text-align: center;
}

.contact {
    position: fixed;
    font-size: 1vw;
    padding-right: 5vw;
    padding-bottom: 2vh;
    right: 0;
    bottom: 0;
}

.icon {
    float: left;
    padding-top: 0.3vh;
    padding-right: 0.5vw;
    height: 2vw;
}
