#content {
    display: none;
    max-width: 100%;
}

/* Display loader until the page loads completely */

#loader {
    position: fixed;
    top: 40%;
    left: 45%;
    width: 5vw;
    height: 5vw;
    border: 1vw solid #000;
    background: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
    /* Meh, these browsers... */
    -moz-animation: rotate 1s linear infinite;
    -webkit-animation: rotate 1s linear infinite;
    -o-animation: rotate 1s linear infinite;
    -ms-animation: rotate 1s linear infinite;
    z-index: 9999;
}

/* so much duplication! */

@-moz-keyframes rotate {
    from { -moz-transform: rotate(0deg); opacity: 0.25; }
    50%  { -moz-transform: rotate(180deg); opacity: 1.0; }
    to   { -moz-transform: rotate(360deg); opacity: 0.25; }
}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg); opacity: 0.25; }
    50%  { -webkit-transform: rotate(180deg); opacity: 1.0; }
    to   { -webkit-transform: rotate(360deg); opacity: 0.25; }
}

@-o-keyframes rotate {
    from { -o-transform: rotate(0deg); opacity: 0.25; }
    50%  { -o-transform: rotate(180deg); opacity: 1.0; }
    to   { -o-transform: rotate(360deg); opacity: 0.25; }
}

@-ms-keyframes rotate {
    from { -ms-transform: rotate(0deg); opacity: 0.25; }
    50%  { -ms-transform: rotate(180deg); opacity: 1.0; }
    to   { -ms-transform: rotate(360deg); opacity: 0.25; }
}

@keyframes rotate {
    from { transform: rotate(0deg); opacity: 0.1; }
    50%  { transform: rotate(180deg); opacity: 1.0; }
    to   { transform: rotate(360deg); opacity: 0.1; }
}

/* Logo transition */

.logo div {
    position: relative;
}

.logo img {
    opacity: 0;
    position: absolute;
    width: 60%;
    transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -webkit-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
