/* FIXME: correct everything to match viewports */

@font-face {
    font-family: 'DS-Digital';
    src: url('../fonts/ds-digital.woff');   /* http://db.onlinewebfonts.com/c/63f874d192fb3892d88d5e26f942b5e2?family=DS-Digital */
}

body {
    font-family: 'Helvetica';
    font-size: 1.5em;
}

/* Countdown timer transition */

#countdown {
    opacity: 0;
    transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -webkit-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
}

.timer {
    margin: auto;
    padding-top: 1em;
    table-layout: fixed;
    width: 1000px;
}

.timer td {
    padding: 4px 25px 4px 25px;
    width: 25px;
    font-family: 'DS-Digital', monospace;
    text-align: center;
}

.timer-val {
    font-size: 5.2em;
}

.timer-disp {
    font-size: 1.2em;
}

a[href^="mailto:"] {
    text-decoration: none;
    color: black;
}

.contact {
    font-family: 'Verdana';
    font-size: 14px;
    padding-right: 2em;
    padding-bottom: 2em;
}

.icon {
    float: left;
    padding-right: 0.75em;
    height: 1.8em;
}
