@font-face {
    font-family: "San Francisco";
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

#header {
    position: fixed;
    top: 1%;
    z-index: 9999;
    width: 100%;
}

#content {
    font-family: "Verdana";
    font-size: 1.5em;
}

#home-tab {
    display: none;
}

.tab {
    cursor: default;
    font-family: 'Roboto';
    list-style: none;
    font-size: 1em;
    float: left;
    position: relative;
    padding: 1% 3%;
    padding-top: 2%;
}

.tab a {
    text-decoration: none;
}

.tab-content {
    padding: 5px 10px;
    color: white;
}

.tab-text {
    padding-left: 10px;
}

.tab-content img {
    float: left;
    height: 30px;
}

@media all and (max-width: 480px) {
    #home-logo {
        display: none;
    }

    #home-tab {
        display: block;
    }

    .tab {
        float: none;
        width: 100%;
    }

    .tab-content img {
        width: 30px;
    }
}


#arrow-up, #arrow-down {
    position: absolute;
    cursor: pointer;
    width: 20px;
    right: 2%;
    z-index: 10;
}

#double-up, #double-down {
    position: absolute;
    cursor: pointer;
    width: 35px;
    right: 6%;
    z-index: 10;
    transition: all 1s ease-in;
    visibility: hidden;
    opacity: 0;
}

#arrow-up, #double-down {
    visibility: visible;
    opacity: 1;
    top: 25%;
    transform: rotate(-90deg);
}

#arrow-down, #double-up {
    bottom: 15%;
    transform: rotate(90deg);
}

.arrow {
    position: absolute;
    cursor: pointer;
    z-index: 10;
}

#arrow-left {
    left: 2%;
    transform: rotate(180deg);
}

#arrow-right {
    right: 2%;
}

#arrow-right, #arrow-left {
    height: 80px;
    top: 60%;
    margin-top: -40px;
    opacity: 0.8;
}

.bg-dissolve {
    background-color: black;
    transition: opacity 0.5s ease-in-out;
    opacity: 0.8;
    height: 100%;
}

.button-container {
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    padding-top: 10%;
}

.button {
    background-color: #4CAF50;
    border-radius: 12px;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.bg-image {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

a[href^="mailto:"] {
    text-decoration: none;
    color: black;
}

.contact {
    font-family: 'Verdana';
    font-size: 14px;
    padding-right: 2em;
    padding-bottom: 2em;
}

.icon {
    float: left;
    padding-right: 0.75em;
    height: 1.8em;
}

img, div, table, td {
    border: solid black 1px;
}
